body {
    margin: 0;
    padding: 0;
}
#grid-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
    min-height: 100vh; 
 }
#header {
    grid-area: header;
    background-color: blue;
    color: white; 
    float: left; 
    text-align: center;
}
/* #leftSide {
    grid-area: left;
    background-color: blue;
} */
#main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rightSide {
    grid-area: right;
    background-color: rgb(114, 16, 85);
}
#footer {
    grid-area: footer;
    background-color: darkgrey;
    color: white; 
    text-align: center;
    
}
/* #orderDisplay {
    border: 1px solid green; 
    height: 200px;
      text-align: center;
    width: 100px;
    align-content: center;
   
} */
#orderScreen {
    border: 1px solid green; 
    height: 220px;
      text-align: center;
    width: 120px;
    vertical-align: center;
   
}

/* #grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 30px; 
    gap: 5px; 
} */
.grid-item {
    padding: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;  
    align-content: center;
    
}
#orderScreen {
    margin: 18vh 10vw;
}

#id-container {
  align-items: center;  
  gap: 20px;
}
#id-container, #orderScreen {
    align-content: center;
}

#submitButton {
    gap: 20px;

}